
<h2>Poängställning</h2>

<table class="yatzy-score-card">
    <tr class="player">
        <td>Spelare</td>
        <td>{{scoreCards.0.player.getName}}</td>
        <td>{{scoreCards.1.player.getName}}</td>
    </tr>
    <tr>
        <td>Ettor</td>
        <td>{{scoreCards.0.getOnes}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Tvåor</td>
        <td>{{scoreCards.0.getTwos}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Treor</td>
        <td>{{scoreCards.0.getThrees}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Fyror</td>
        <td>{{scoreCards.0.getFours}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Femmor</td>
        <td>{{scoreCards.0.getFives}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Sexor</td>
        <td>{{scoreCards.0.getSixes}}</td>
        <td></td>
    </tr>
    <tr class="sum">
        <td>Summa</td>
        <td>{{scoreCards.0.getSum}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus</td>
        <td>{{scoreCards.0.getBonus}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Ettpar</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Tvåpar</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Triss</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Fyrtal</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Kåk</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Liten stege</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Stor stege</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Chans</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Yatzy</td>
        <td></td>
        <td></td>
    </tr>
    <tr class="sum">
        <td>Summa</td>
        <td></td>
        <td></td>
    </tr>
</table>